#contact-section {
  touch-action: none;
  background: linear-gradient(to bottom, #596a72 0%, #cedce7 65%);
  min-height: 100vh !important;
  margin: 0;
  padding-bottom: 50px;
}

#contactTitle {
  padding-top: 28px;
}

#authorsPhoto {
  box-shadow: 0px 0px 80px #000;
  border-radius: 10px;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

@media screen and (max-width: 767px) {
  #contact-section {
    touch-action: auto;
  }

  #authorsPhoto {
    margin-top: 50px !important;
  }
}
